* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(240, 248, 255);
}

a {
    color: #4ef84e;
    /* verde claro */
}

.destaque {
    font-family: 'Permanent Marker', cursive;
    color: #4ef84e;
    /* verde clarinho, pra combinar com o resto */
}

figure {
    text-align: center;
}

figure img {
    width: 200px;
}

figure img {
    border-radius: 20px;
}

.destaque {
    border-bottom: 4px solid #90ee90;
    padding-bottom: 4px;
}

h2 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

.menu {
    background:black;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.menu ul{
     list-style: none;
}

.menu ul li{
    margin: 15px 0;
}

.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.5s ease;
}

.menu ul li a:hover{
    background: white;
}

.Bem-vindo , footer{
    margin-left: 250px;
}


#conteudo-principal {
    
    max-width: 500px;
    margin:30px auto;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 22px;
}
