* {
    box-sizing: border-box;
}

:root {
    --verde-principal: #42E89A;
    --verde-secundario: #2DD98A;
    --verde-escuro: #123F35;

    --fundo: #070D14;
    --fundo-secundario: #0B121B;
    --card: #131C29;
    --borda: #26374A;

    --texto-principal: #F5F7FA;
    --texto-secundario: #A8B5C7;
    --texto-discreto: #718096;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--fundo);
    background-image: url("IMAGEM/logo heavy feeder png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    font-family: 'Poppins', sans-serif;
    color: var(--texto-principal);
    min-height: 100vh;

}

.cabecalho-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--fundo-secundario);
    border-radius: 12px;
    border-bottom: 2px solid var(--borda);
    padding: 10px 20px;
}

footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--fundo-secundario);
    border-radius: 12px;
    border-top: 2px solid var(--borda);
    padding: 10px 20px;
}

footer a{
     padding: 5px;
    text-decoration: none;
    transition: transform .2 ease text-decoration .2 ease,
        color .2 ease;
    font-weight: 20px;
    font-size: 18px;
    color: var(--texto-secundario);
}

footer a:hover{
     text-decoration: underline var(--verde-secundario);
    color: var(--verde-secundario);
}

nav {
    display: flex;
    justify-content: center;
    gap: 130px;
}

nav a,
button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    text-decoration: none;
    transition: transform .2 ease text-decoration .2 ease,
        color .2 ease;
    font-weight: 30px;
    font-size: 22px;
    color: var(--texto-secundario);
}

nav a:hover {
    text-decoration: underline var(--verde-secundario);
    color: var(--verde-secundario);
}

nav button:hover {
    text-decoration: underline var(--verde-secundario);
}

.botao-login {
    border: 3px solid var(--verde-secundario);
    border-radius: 24px;
    padding: 5px 30px;
    font-weight: 30px;
    text-decoration: none;
    background-color: var(--verde-secundario);
    color: var(--verde-escuro);
}

h1 {
    color: var(--texto-principal);
}

.destaque {
    font-family: 'Permanent Marker', cursive;
    color: var(--verde-escuro);
    /* verde clarinho, pra combinar com o resto */
}

figure {
    text-align: center;
}

figure img {
    width: 200px;
}

figure img {
    border-radius: 20px;
}

.destaque {
    border-bottom: 4px solid var(--verde-escuro);
    padding-bottom: 4px;
}

h2 {
    color: var(--texto-secundario);
}

p {
    color: var(--texto-principal);
}

h3 {
    color: var(--texto-secundario);
}

.Bem-vindo,
footer {
    margin: auto;
}


#conteudo-principal {

    max-width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 22px;
}