* {
    box-sizing: border-box;
}
:root{
    --verde-principal: #42E89A;
    --verde-secundario: #2DD98A;
    --verde-escuro: #123F35;

    --fundo: #070D14;
    --fundo-secundario: #0B121B;
    --card: #131C29;
    --borda: #26374A;

    --texto-principal: #F5F7FA;
    --texto-secundario: #A8B5C7;
    --texto-discreto: #718096;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f2e16;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    min-height: 100vh;
        
}

.cabecalho-principal{
    border: 1px solid #4ef84e;
    border-radius: 12px;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 130px;
}

nav a, button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    font-weight: 30px;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: #0f2e16;
    color: #4ef84e;
}

.botao-login{
    border: 0px solid #0f2e16;
    font-weight: 30px;
    text-decoration: none;
    background-color: #0f2e16;
    color: #4ef84e;
}

h1 {
    color: var(--texto-principal);
}

a {
    color: var(--texto-discreto);
    text-decoration: none;
    /* verde claro */
}

.destaque {
    font-family: 'Permanent Marker', cursive;
    color: var(--verde-escuro);
    /* verde clarinho, pra combinar com o resto */
}

figure {
    text-align: center;
}

figure img {
    width: 200px;
}

figure img {
    border-radius: 20px;
}

.destaque {
    border-bottom: 4px solid var(--verde-escuro);
    padding-bottom: 4px;
}

h2 {
    color: var(--texto-secundario);
}

p {
    color: var(--texto-principal);
}

h3 {
    color: var(--texto-secundario);
}

.Bem-vindo , footer{
   margin: auto;
}


#conteudo-principal {
    
    max-width: 500px;
    margin:auto;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 22px;
}









